<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/deletaPessoa.css" type="text/css">
    <title>Deletar usuário</title>
</head>
<body>
    <header>
        <h1>Deletar um cadastro</h1>
        <section class="subtitle">
            <p>/ - index (cadastrar pessoa)</p>
            <p>/pessoas - lista todas as pessoas</p>
            <p>/pessoas/:id - lista uma pessoa por ID</p>
            <p>/pessoas/:id/atualiza - atualiza uma pessoa por ID</p>
        </section>
    </header>
    <p class="atencao">ATENÇÃO, ESSA AÇÃO É IRREVERSÍVEL</p>
    <div class="form">
        <form action="/pessoas/deleta" method="post">
            <div class="input-form">
                <label for="deleta-usuario">Digite novamente o ID do usuário a ser deletado</label>
                <input class="input-space" type="text" name="id" id="id" value="<% pessoaId %>" required>
            </div>
            <div class="submit-div">
                <input type="submit" value="Enviar" class="input-submit">
            </div>
        </form>
    </div>
</body>
</html>