<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/erro.css" type="text/css">
    <title>ERRO</title>
</head>
<body>
    <div class="erro">
        <h1>ERRO :(</h1>
        <h3><%= erro %> </h3>
    </div>
    <section class="subtitle">
        <button>
          <a href="/" class="caminho">Ir para a página de cadastro</a>
        </button>
        <button>
            <a href="/pessoas" class="caminho">Exibir pessoas cadastradas</a>
        </button>
    </section>
</body>
</html>