* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(210deg, #454d55, #454d55);
}

header .subtitle, h1 {
    padding-top: 20px;
    text-align: center;
}

.subtitle {
    margin-bottom: 20px;
}

.form-crud {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

input {
    margin: 12px 0 12px 0;
    color: black;
}

.button-form {
    width: 100px;
}

.button-form2 {
    width: 150px;
}

.input-form {
    width: 250px;
}

.input-submit, button {
    color: black;
    border-radius: 5px;
}

.caminho, .caminho:hover {
    color: white;
    text-decoration: none;
}

.container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(63, 63, 63);
    border: 2px solid rgb(150, 150, 150);
    border-radius: 8px;
}

form {
    width: fit-content;
    margin: 0;
}

.td-long {
    width: 20%;
}

.header {
    text-align: center;
}

.td-form {
    width: 5%;
}