* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    height: max-content;
    width: 100vw;
    overflow-x: hidden;
}

body {
    height: 110vh;
    background-image: linear-gradient(210deg, #454d55, #3b4045)
}

header h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 2.5rem;
}

header .subtitle {
    margin: 30px 0 30px 0;
    text-align: center;
}

.caminho {
    border-radius: 5px;
}

.caminho, .caminho:hover {
    text-decoration: none;
    color: white;
}

.form {
    display: flex;
    background-color: #35393d;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 8px;
    padding: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: fit-content;
    margin: auto;
}

form {
    width: 65%;
}

label {
    text-align: center;
}

.input-space {
    display: block;
    height: 30px;
    width: 100%;
    color: black;
}

.input-form {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.input-submit {
    background-color: white;
    margin-top: 20px;
    height: 30px;
    width: 120px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.submit-div {
    padding-top: 10px;
    text-align: center;
}